body{ background-color: #000000;
font-family: Arial, sans-serif ,white;}

h1{color: #ffffff;}
h2{color: #ffffff;}
h3{color: #ffffff;}
h4{color: #ffffff;}

html, body {
    cursor: url("img/diode_2.png"), auto;
}
/* Canvas ribbons (traînée lumineuse) */
#ribbons-canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Allow clicks through canvas */
  z-index: 1000; /* On top */
  mix-blend-mode: screen; /* Nice additive blending */
}