body {
    background-color: rgb(50, 7, 66);
}

h1 {
    color:lightskyblue
}

p {
    color:aliceblue
}
strong {
    color:gold
}

li {
    color:white
}

li strong {
    color:rgb(255, 187, 0)
}

body {
    font-family: Arial, sans-serif;
    
}

@media (max-width: 600px) {
    body {
      font-size: 16px;
    }
    .centrer-liste {
      padding: 10px;
    }
  }

  /* Style normal du texte */
p, li {
    color: rgb(255, 255, 255);  /* Couleur par défaut */
    transition: color 0.3s ease; /* Pour une transition douce */
  }
  
  /* Couleur du texte quand on passe la souris dessus */
  p:hover, li:hover {
    color: #ff002b;  /* Couleur bleue au survol */
    cursor: pointer; /* En plus, on change le curseur en main */
  }

  .separator {
    width: 400px;
    height: 50px;
    background-color: #3700ff;
    margin: 20px auto;  /* Centrer horizontalement et espace vertical */
    border-radius: 600px; /* Bord arrondi pour un style doux */
  }

  .icon-separator {
    background-color: gold;
  }

  .styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .styled:hover {
    background-color: rgba(255, 0, 0, 1);
  }
  
  .styled:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
  
.btn-retour {
  background-color: rgba(255, 38, 0, 0.911);
  color:white;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
}

.btn-retour:hover {
  background-color: rgba(252, 50, 0, 0.938);
  transform: scale(1.05);
}